/* line 1, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
html {
  font-family: 'Catamaran', sans-serif;
}

/* line 4, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
body {
  margin: 0;
  background-color: #c6c6c4;
  width: 100%;
}

/* line 9, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
h1 {
  font-weight: 400;
}

/* line 12, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div#nav-top {
  background-color: #ffffff;
  padding: 5px;
}

/* line 16, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div.border {
  padding: 1rem;
  background-color: #0e76a3;
}

/* line 20, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div#header {
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 0 2px 0 gray;
}

/* line 24, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div#header h1 {
  font-size: 18px;
}

/* line 26, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div#header h1#cc {
  position: absolute;
  right: 2rem;
}

/* line 30, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div#drop-box {
  color: #fff;
  vertical-align: middle;
}

/* line 34, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div.alert {
  color: #f9ac07;
  display: inline-flex;
  align-items: center;
  padding: 3px;
  margin-bottom: 1rem;
  line-height: 95%;
  border: 1px solid #f9ac07;
}

/* line 43, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div.alert p {
  margin: 3px 3px 3px 0;
}

/* line 45, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div.alert img {
  margin: 0 -6px 0 10px;
}

/* line 48, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
td#alertDate {
  color: #f9ac07;
}

/* line 51, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div#emails {
  padding: 1rem;
  display: flex;
}

/* line 54, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div#emails select {
  margin-bottom: 1rem;
}

/* line 66, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div#nav-left {
  display: inline-block;
  width: 15rem;
  min-width: 15rem;
  text-align: center;
  margin-right: 1rem;
}

/* line 73, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div.buttons {
  text-align: center;
}

/* line 75, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div.buttons button {
  padding: 1rem;
  display: block;
  border: 1px solid gray;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  background-color: #ffffff;
}

/* line 83, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div.buttons button:hover {
  background-color: #eaebef;
  color: #0d2b56;
}

/* line 86, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div.buttons button.active {
  background-color: #ffffff;
  color: #0d56a2;
}

/* line 89, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div.buttons button:focus {
  outline: 0;
}

/* line 92, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div.selectButtons {
  display: flex;
}

/* line 96, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div.selectedTriangle {
  width: 0;
  height: 100%;
  border: solid 15px;
  border-color: transparent transparent transparent #f99907;
  margin: 8% -30px 0 0;
}

/* line 108, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div.report-border {
  width: 100%;
}

/* line 111, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div#reports {
  display: flex;
  background-color: #ffffff;
}

/* line 115, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
div.email-report {
  display: flex;
  flex-flow: column;
  border: 1px solid gray;
  box-sizing: border-box;
  width: 100%;
}

/* line 122, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
table {
  width: 100%;
}

/* line 125, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
th, td {
  display: block;
  padding: 3px;
  text-align: left;
  vertical-align: top;
}

/* line 131, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
th {
  width: 30%;
  font-weight: 600;
}

/* line 135, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
td {
  max-width: 69%;
}

/* line 137, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
td div {
  display: flex;
}

/* line 139, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
td div p {
  padding: 6px;
  margin: 0 0 5px 5px;
  border: 1px solid #9fa7ad;
  border-radius: 10px;
  background-color: #edf7ff;
}

/* line 146, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
td.service {
  color: #08a38b;
}

/* line 149, /Users/workstudy/Documents/EmailReportGenerator/public/styles/sass/index.sass */
tr {
  display: flex;
  border-bottom: 1px solid #9fa7ad;
}

/*# sourceMappingURL=../css/index.map */