extends layout

block content
  div#drop-box
    input#file-input(type="file" multiple="")
  div#emails
    div(class="email emailbuttons")
        button("v-for"="campaign in campaigns", "v-bind:key"="campaign", "v-bind:class"="['email-button', { active: currentCampaign === campaign }]", "v-on:click"="currentCampaign = campaign") {{ campaign }}
    div(class="email emailreport")
        table("v-for"="(value, key) in report[currentCampaign]", "v-bind:key"="key")
            thead
                tr
                    th {{ key }}
            tbody
                tr
                    td("v-if"="value.hasOwnProperty('hasOwnProperty')") noodle
                    td("v-else") {{ value }}

  script(type="text/javascript" src="scripts/util/dropZone.js")
  script(type="text/javascript" src="scripts/util/CSVParser.js")
  script(type="text/javascript" src="scripts/index.js")
  script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  script(type="text/javascript" src="scripts/util/vueScripts.js")