extends layout

block content
  div#drop-box
    input#file-input(type="file" multiple="")
  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(type="text/javascript" src="scripts/lib/jszip.min.js")
  script(type="text/javascript" src="scripts/lib/jszip-utils.min.js")
  script(type="text/javascript" src="scripts/util/dropZone.js")
  script(type="text/javascript" src="scripts/util/CSVParser.js")
  script(type="text/javascript" src="scripts/index.js")
