html
  font-family: 'Catamaran', sans-serif

body
  margin: 0
  background-color: #d2d1ce

h1
  font-weight: 400

div#header
  padding: 1rem 2rem
  background-color: #ffffff
  box-shadow: 0 0 2px 0 gray
  h1
    font-size: 18px
    &#cc
      position: absolute
      right: 2rem

div#drop-box
  color: #fff
  vertical-align: middle

div.alert
  color: #f9ac07
  display: inline-flex
  align-items: center
  padding: 3px
  margin-bottom: 1rem
  line-height: 95%
  border: 1px solid #f9ac07
  //background-color: #f9ac07
  p
    margin: 3px 3px 3px 0
  img
    margin: 0 -6px 0 10px

td#alertDate
  color: #f9ac07

div#nav-left
  display: inline-block
  width: 15rem
  min-width: 15rem
  text-align: center
  margin-right: 2%

div#nav-top
  background-color: #ffffff
  padding: 5px

div.border
  padding: 1rem
  background-color: #0e76a3

div#emails
  padding: 1rem
  display: flex
  select
    margin-bottom: 1rem
    //padding: 1rem
    //border-style: solid
    //border-color: gray
    //width: 10rem
    //height: 3rem
    //border-width: 0 0 1px 1px

div#reports
  display: flex
  background-color: #ffffff

div.buttons
  text-align: center
  button
    padding: 1rem
    display: block
    border-style: solid
    border-color: gray
    border-width: 1px
    //width: 10rem
    font-size: 12px
    background-color: #ffffff
    &:hover
      background-color: #eaebef
      color: #0d2b56
    &.active
      background-color: #eaebef
      color: #0e76a3
    &:focus
      outline: 0

div.selectButtons
  display: flex

//help with code from: https://stackoverflow.com/questions/12483178/how-can-i-make-a-triangle-in-html
div.selectedTriangle
  width: 0
  height: 0
  border: solid 15px
  border-color: transparent transparent transparent #f99907
  margin: 8% -30px 0 0

div.report
  display: flex
  flex-flow: column
  border: 1px solid gray
  width: 100%
  box-sizing: border-box

th, td
  display: block
  padding: 3px
  text-align: left
  vertical-align: top

th
  width: 30%
  font-weight: 600

td
  max-width: 69%
  div
    display: flex
    p
      padding: 6px
      margin: 0 0 5px 5px
      border: 1px solid #9fa7ad
      border-radius: 10px
      background-color: #edf7ff

td.service
  color: #08a38b

tr
  display: flex
  border-bottom: 1px solid #9fa7ad
